<!DOCTYPE html>
<html>
	<head>
		<script>
			{{ .UIJS }}

			(function(){								
				if (window.WebSocket === undefined) {
					alert("Your browser does not support WebSockets");
				} else {
					var ws = new WebSocket('ws://localhost:{{.Port}}/websocket');
				
					//override goui.invokeGoMessageHandler to point to dev server
					goui.invokeGoMessageHandler = function(messageType, stringifiedMessage){						
						var wsMessage = {
							messageType: messageType,
							stringifiedMessage: stringifiedMessage
						};
						ws.send(JSON.stringify(wsMessage));
					}

					ws.onopen = function() {
						console.log('Websocket connection opened successfully');
						
						//emulating call to js.send from app logic
						goui.send("test", JSON.stringify({ test: "test" }));
					};
					ws.onmessage = function (e) {
						console.log(e);
						//ws.send(JSON.stringify({ test: "test" }));
					};
					ws.onclose = function () {
						location.reload();
					};
				}

				

				ws.onmessage = function(m){
					goui.invokeJsMessageHandler(m.messageType, m.message)
				};

				ws.onclose = function(){
					location.reload();
				};
			})();
		</script>

		{{with .PrependAssets}}
		{{range .}}
		{{.AssetLink}}
		{{end}}
		{{end}}

		<title>GoUI Debugger</title>
	</head>
	<body>
		<div id="app"></div>

		{{with .AppendAssets}}
		{{range .}}
		{{.AssetLink}}
		{{end}}
		{{end}}

	</body>
</html>