<!DOCTYPE html>
<html>
	<head>
		<script>
			{{ .UIJS }}

			(function(){								
				if (window.WebSocket === undefined) {
					alert("Your browser does not support WebSockets");
				} else {
					var ws = new WebSocket('ws://localhost:{{ .DevServerPort }}/websocket');
				
					//override goui.jsToGo to point to dev server
					goui.jsToGo = function(messageType, stringifiedMessage, callbackId){						
						var wsMessage = {
							messageType: messageType,
							stringifiedMessage: stringifiedMessage,
							callbackId: callbackId
						};
						ws.send(JSON.stringify(wsMessage));
					}

					ws.onopen = function() {
						console.log('Websocket connection to the goui dev server opened successfully');
					};
					ws.onmessage = function (m) {
						var wsMessage = JSON.parse(m.data);
						goui.goToJs(wsMessage.messageType, wsMessage.stringifiedMessage, wsMessage.callbackId);
					};
					ws.onclose = function () {
						location.reload();
					};
				}
			})();
		</script>

		{{with .PrependAssets}}
		{{range .}}
		{{.FormattedAsset}}
		{{end}}
		{{end}}

		<title>GoUI Debugger</title>
	</head>
	<body>
		<div id="app"></div>

		{{with .AppendAssets}}
		{{range .}}
		{{.FormattedAsset}}
		{{end}}
		{{end}}

	</body>
</html>